<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="ps-display-container ps-content ps-wide" id="home">
      <img
        class="ps-image"
        src="/images/header.jpg"
        alt="Pimienta & Sal"
        width="1600"
        height="800"
      />
      <div class="ps-display-bottomleft ps-padding-large ps-opacity">
        <h1 class="ps-xxlarge">Sabores que enamoran</h1>
      </div>
    </header>
  </body>
</html>
